<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> export </title>
    <link rel="shortcut icon" href="favicon.ico" />
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="FileSave.js"></script>
    <script src="jszip.min.js"></script>
    <script src="jszip-utils.min.js"></script>
    <script src="moment.js"></script>
</head>
<body>
	<div id="app">
        <el-row :gutter="18">
            <el-col :span="12" :offset="6">
                <el-input style="width:500px" placeholder="请输入内容" v-model="url">
                    <template slot="prepend">Http://</template>
                    <i slot="prefix" class="el-input__icon el-icon-search"></i>
                </el-input>
                <el-button @click="visible = true,issuesList()">查询</el-button>
                <el-button @click="expZip()">导出zip</el-button>
                <el-button @click="expFile()">一键生成</el-button>
            </el-col>
        </el-row>

	<!--el-dialog v-loading="loading" :visible.sync="visible" center :title.sync="title">
        {{ data }}
    </el-dialog>-->
     <el-input type="textarea" :rows="40" v-model="plain_text"></el-input>
    </div>
	<!-- import Vue before Element -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- import JavaScript -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data: function() {
        return {
        	visible: false,
        	url: 'https://api.github.com/repos/saltzmanalaric/Mirror-blog/issues',
            data: 'loading...',
            title: '请求结果',
            origin_data: [],
            plain_text: '',
        }
      },
      methods: {
	      issuesList(){
	        var that = this;
            var sendDate = moment();
              $.ajax({
                url: this.url,
                type: 'GET',
                success: function(data){
                    //console.log(data);
                    that.title = '花费时间：'+  moment().diff(sendDate) +'毫秒';
                    that.origin_data = data;
                    that.data = '';
                    for (var i=0,size = data.length;i<size;i++) {
                        //that.data += formatJson(data[i]);//.replace(/<br\/>/g, "");
                        that.data += (i+1)+"."+data[i].title+"<br/>";
                    }
                   /* that.$alert(that.data, that.title, {
                        dangerouslyUseHTMLString: true
                    });*/
                    that.$message({
                        showClose: true,
                        dangerouslyUseHTMLString: true,
                        message: '<h4>'+ that.title+'</h4>'+that.data,
                        type: 'success'
                    });
                },
              error: function(err) {
                  this.$message({
                      showClose: true,
                      message: '请求失败：'+err.responseText,
                      type: 'error'
                  });
                  that.origin_data = [];
              }
            });
	    	},
          expZip: function() {
              var zip = new JSZip();
              var origin_data = this.origin_data;
              if (!origin_data || origin_data.length == 0) {
                  this.$message({
                      showClose: true,
                      message: '导出失败，可能无数据哦',
                      type: 'error'
                  });
                  return;

              }
              for (var i=0,size = origin_data.length;i<size;i++) {
                  var title = i +"."+ origin_data[i].title+".md";
                  var content = '';
                  var create = moment(origin_data[i].created_at).format('YYYY-MM-DD HH:mm:ss');
                  var update = moment(origin_data[i].updated_at).format('YYYY-MM-DD HH:mm:ss');
                  var labels = [];
                  if (origin_data[i].labels) {
                      for(var index in origin_data[i].labels) {
                          labels.push(origin_data[i].labels[index].name);
                      }
                  }
                  content = '---\n';
                  content += 'title: '+origin_data[i].title+'\n';
                  content += 'create: '+create+'\n';
                  content += 'update: '+ update+'\n';
                  content += 'labels: '+labels.join(',')+'\n';
                  content += '---\n';
                  content == origin_data[i].body;

                  zip.file(title, content);
              }
              zip.generateAsync({type:"blob"}).then(function(content) {
                  saveAs(content, "articles" + moment().format('YYYYDDMM') + ".zip");
              });
          },
          expFile: function() {
              downloadFile(this.plain_text, moment().format('YYYYDDMM'));
          },
          openerror: function() {
              this.$notify.error({
                  title: '错误',
                  message: '这是一条错误的提示消息'
              });
          },
  		}
    }); // end vue

    //textarea支持tab缩进
    $("textarea").on('keydown',function(e) {
        if (e.keyCode == 9) {
            e.preventDefault();
            var indent = '    ';
            var start = this.selectionStart;
            var end = this.selectionEnd;
            var selected = window.getSelection().toString();
            selected = indent + selected.replace(/\n/g, '\n' + indent);
            this.value = this.value.substring(0, start) + selected + this.value.substring(end);
            this.setSelectionRange(start + indent.length, start + selected.length);
        }
    })

    /**
     * 下载文件
     */
    var downloadFile = function(content, file_name) {
        var file = new File([content], file_name, { type: "text/plain;charset=utf-8" });
        saveAs(file);
    }

    // 格式化json字符串
    function formatJson(msg) {
        var rep = "~";
        var jsonStr = JSON.stringify(msg, null, rep)
        var str = "";
        for (var i = 0; i < jsonStr.length; i++) {
            var text2 = jsonStr.charAt(i)
            if (i > 1) {
                var text = jsonStr.charAt(i - 1)
                if (rep != text && rep == text2) {
                    str += "<br/>"
                }
            }
            str += text2;
        }
        jsonStr = "";
        for (var i = 0; i < str.length; i++) {
            var text = str.charAt(i);
            if (rep == text)
                jsonStr += "    ";//"        "
            else {
                jsonStr += text;
            }
            if (i == str.length - 2)
                jsonStr += "<br/>"
        }
        return jsonStr;
    }
  </script>
</body>
</html>
