<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> song </title>
    <link rel="shortcut icon" href="favicon.ico"/>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script type="text/javascript" src="moment.js"></script>
    <script type="text/javascript" src="jquery-3.3.1.min.js"></script>
</head>
<body>

<div id="app" style="padding: 10px;">
    <el-row :gutter="0" type="flex" justify="center">
        <el-col :span="10">
            <el-input style="width:500px" placeholder="请输入内容" v-model="url">
                <!-- <template slot="prepend">Http://</template>-->
                <i v-if="!searchIcon" slot="prefix" class="el-input__icon el-icon-search"></i>
                <i v-if="searchIcon" slot="prefix" class="el-input__icon el-icon-loading"></i>
            </el-input>
            <el-button type="primary" plain @click="searchIcon = true,songList()"><i class="el-icon-search"></i>查询</el-button>
            <el-button type="primary" plain @click="expSong()"><i class="el-icon-document"></i>下载歌单</el-button>
        </el-col>
    </el-row>
    <div id="songsWrapper">
        <el-table style="width: 100%"
                  :data="origin_data.filter(data => !search || data.name.toLowerCase().includes(search.toLowerCase()) || data.singer.toLowerCase().includes(search.toLowerCase()))"
                  :default-sort="{prop: 'created_at', order: 'descending'}">
            <el-table-column label="序号" type="index"></el-table-column>
            <el-table-column label="id" prop="id"></el-table-column>
            <el-table-column label="歌曲名" prop="name" sortable></el-table-column>
            <el-table-column label="歌手" prop="singer" sortable></el-table-column>
            <el-table-column label="专辑" prop="album" sortable></el-table-column>
            <el-table-column label="来源" prop="source" sortable></el-table-column>
            <el-table-column label="歌曲路径" show-overflow-tooltip prop="link_url">
                <template slot-scope="scope">
                    <a :href="'https://saltzmanalaric.github.io/music-player/'+scope.row.link_url" download>{{scope.row.link_url}}</a>
                </template>
            </el-table-column>
            <el-table-column label="歌词路径" show-overflow-tooltip prop="link_lrc">
                <template slot-scope="scope">
                    <a :href="'https://saltzmanalaric.github.io/music-player/'+scope.row.link_lrc" download>{{scope.row.link_lrc}}</a>
                </template>
            </el-table-column>
            <el-table-column align="right">
                <template slot="header" slot-scope="scope">
                    <el-input v-model="search" size="mini" placeholder="输入关键字搜索"/>
                </template>
            </el-table-column>
        </el-table>
    </div>
    <el-backtop @click="backTop"></el-backtop>
</div>

<!-- import Vue before Element -->
<script src="https://unpkg.com/vue/dist/vue.js"></script>
<!-- import JavaScript -->
<script src="https://unpkg.com/element-ui/lib/index.js"></script>
<script>
    new Vue({
        el: '#app',
        data: function () {
            return {
                url: 'https://saltzmanalaric.github.io/music-player/music.json',
                origin_data: [],
                search: '',
                text: '',
                searchIcon: false,
            }
        },
        methods: {
            // 歌曲列表
            songList() {
                $("#songsWrapper").show();
                var that = this;
                var sendDate = moment();
                $.ajax({
                    url: this.url,
                    type: 'GET',
                    success: function (data) {
                        console.log(data);
                        that.origin_data = data;
                        var cost_time = moment().diff(sendDate) + 'ms';
                        console.log(cost_time);
                        that.$notify({
                            title: '花费时间',
                            message: cost_time,
                            position: 'top-right',
                            duration: 1500,
                            type: 'success'
                        });
                        that.searchIcon = false;
                    },
                    error: function (err) {
                        that.$message({
                            showClose: true,
                            message: '请求失败：' + err.responseText,
                            type: 'error'
                        });
                        that.origin_data = [];
                        that.searchIcon = false;
                    }
                });
            },
            // 路径下载
            fmtUrl(value, row, column) {
                return "<a href='" + column + "'>" + column + "</a>";
            },
            // 格式化日期
            fmtDate(value, row, column) {
                return moment(column).format('YYYY-MM-DD HH:mm:ss');
            },
            // 重置
            reset() {
                this.url = 'https://saltzmanalaric.github.io/music-player/music.json';
                this.origin_data = [];
                this.search = '';
                this.text = '';
                this.searchIcon = false;
            },
            // 导出歌单
            expSong: function () {
                var datastr = "data:text/json;charset=utf-8," + encodeURIComponent(JSON.stringify(this.origin_data));
                var downloadAnchorNode = document.createElement('a')
                downloadAnchorNode.setAttribute("href", datastr);
                downloadAnchorNode.setAttribute("download", "music" + moment().format('YYYYMMDD') + ".json");
                downloadAnchorNode.click();
                downloadAnchorNode.remove();
            },
            // 回到顶部
            backTop() {
                document.body.scrollTop = 0
                document.documentElement.scrollTop = 0
            },
        }
    }); // end vue

</script>

</body>
</html>